<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Runner.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>armv7</string>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>19620DA3BE0DED5921D47F002595C8626F568121</string>
				<key>dateExpires</key>
				<string>05/09/20</string>
				<key>type</key>
				<string>iOS Development</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>19620DA3BE0DED5921D47F002595C8626F568121</string>
						<key>dateExpires</key>
						<string>05/09/20</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>App.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>V7KJ8WJJFJ</string>
						<key>name</key>
						<string>Dexbytes Infotech</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>19620DA3BE0DED5921D47F002595C8626F568121</string>
						<key>dateExpires</key>
						<string>05/09/20</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>FMDB.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>V7KJ8WJJFJ</string>
						<key>name</key>
						<string>Dexbytes Infotech</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>19620DA3BE0DED5921D47F002595C8626F568121</string>
						<key>dateExpires</key>
						<string>05/09/20</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>Flutter.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>V7KJ8WJJFJ</string>
						<key>name</key>
						<string>Dexbytes Infotech</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>19620DA3BE0DED5921D47F002595C8626F568121</string>
						<key>dateExpires</key>
						<string>05/09/20</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>GoogleUtilities.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>V7KJ8WJJFJ</string>
						<key>name</key>
						<string>Dexbytes Infotech</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>19620DA3BE0DED5921D47F002595C8626F568121</string>
						<key>dateExpires</key>
						<string>05/09/20</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>Reachability.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>V7KJ8WJJFJ</string>
						<key>name</key>
						<string>Dexbytes Infotech</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>19620DA3BE0DED5921D47F002595C8626F568121</string>
						<key>dateExpires</key>
						<string>05/09/20</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>TOCropViewController.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>V7KJ8WJJFJ</string>
						<key>name</key>
						<string>Dexbytes Infotech</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>19620DA3BE0DED5921D47F002595C8626F568121</string>
						<key>dateExpires</key>
						<string>05/09/20</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>connectivity.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>V7KJ8WJJFJ</string>
						<key>name</key>
						<string>Dexbytes Infotech</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>19620DA3BE0DED5921D47F002595C8626F568121</string>
						<key>dateExpires</key>
						<string>05/09/20</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>device_info.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>V7KJ8WJJFJ</string>
						<key>name</key>
						<string>Dexbytes Infotech</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>19620DA3BE0DED5921D47F002595C8626F568121</string>
						<key>dateExpires</key>
						<string>05/09/20</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>flutter_custom_tabs.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>V7KJ8WJJFJ</string>
						<key>name</key>
						<string>Dexbytes Infotech</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>19620DA3BE0DED5921D47F002595C8626F568121</string>
						<key>dateExpires</key>
						<string>05/09/20</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>flutter_local_notifications.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>V7KJ8WJJFJ</string>
						<key>name</key>
						<string>Dexbytes Infotech</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>19620DA3BE0DED5921D47F002595C8626F568121</string>
						<key>dateExpires</key>
						<string>05/09/20</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>flutter_statusbarcolor.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>V7KJ8WJJFJ</string>
						<key>name</key>
						<string>Dexbytes Infotech</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>19620DA3BE0DED5921D47F002595C8626F568121</string>
						<key>dateExpires</key>
						<string>05/09/20</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>get_version.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>V7KJ8WJJFJ</string>
						<key>name</key>
						<string>Dexbytes Infotech</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>19620DA3BE0DED5921D47F002595C8626F568121</string>
						<key>dateExpires</key>
						<string>05/09/20</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>image_picker.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>V7KJ8WJJFJ</string>
						<key>name</key>
						<string>Dexbytes Infotech</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>19620DA3BE0DED5921D47F002595C8626F568121</string>
						<key>dateExpires</key>
						<string>05/09/20</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>keyboard_visibility.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>V7KJ8WJJFJ</string>
						<key>name</key>
						<string>Dexbytes Infotech</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>19620DA3BE0DED5921D47F002595C8626F568121</string>
						<key>dateExpires</key>
						<string>05/09/20</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>nanopb.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>V7KJ8WJJFJ</string>
						<key>name</key>
						<string>Dexbytes Infotech</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>19620DA3BE0DED5921D47F002595C8626F568121</string>
						<key>dateExpires</key>
						<string>05/09/20</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>package_info.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>V7KJ8WJJFJ</string>
						<key>name</key>
						<string>Dexbytes Infotech</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>19620DA3BE0DED5921D47F002595C8626F568121</string>
						<key>dateExpires</key>
						<string>05/09/20</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>path_provider.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>V7KJ8WJJFJ</string>
						<key>name</key>
						<string>Dexbytes Infotech</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>19620DA3BE0DED5921D47F002595C8626F568121</string>
						<key>dateExpires</key>
						<string>05/09/20</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>protobuf.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>V7KJ8WJJFJ</string>
						<key>name</key>
						<string>Dexbytes Infotech</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>19620DA3BE0DED5921D47F002595C8626F568121</string>
						<key>dateExpires</key>
						<string>05/09/20</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>share.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>V7KJ8WJJFJ</string>
						<key>name</key>
						<string>Dexbytes Infotech</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>19620DA3BE0DED5921D47F002595C8626F568121</string>
						<key>dateExpires</key>
						<string>05/09/20</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>shared_preferences.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>V7KJ8WJJFJ</string>
						<key>name</key>
						<string>Dexbytes Infotech</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>19620DA3BE0DED5921D47F002595C8626F568121</string>
						<key>dateExpires</key>
						<string>05/09/20</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>sms.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>V7KJ8WJJFJ</string>
						<key>name</key>
						<string>Dexbytes Infotech</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>19620DA3BE0DED5921D47F002595C8626F568121</string>
						<key>dateExpires</key>
						<string>05/09/20</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>sqflite.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>V7KJ8WJJFJ</string>
						<key>name</key>
						<string>Dexbytes Infotech</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>19620DA3BE0DED5921D47F002595C8626F568121</string>
						<key>dateExpires</key>
						<string>05/09/20</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>store_redirect.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>V7KJ8WJJFJ</string>
						<key>name</key>
						<string>Dexbytes Infotech</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>19620DA3BE0DED5921D47F002595C8626F568121</string>
						<key>dateExpires</key>
						<string>05/09/20</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>url_launcher.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>V7KJ8WJJFJ</string>
						<key>name</key>
						<string>Dexbytes Infotech</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>19620DA3BE0DED5921D47F002595C8626F568121</string>
						<key>dateExpires</key>
						<string>05/09/20</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>video_player.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>V7KJ8WJJFJ</string>
						<key>name</key>
						<string>Dexbytes Infotech</string>
					</dict>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>V7KJ8WJJFJ.com.dexbytes.myhelper-contractor-demo</string>
				<key>aps-environment</key>
				<string>development</string>
				<key>com.apple.developer.team-identifier</key>
				<string>V7KJ8WJJFJ</string>
				<key>get-task-allow</key>
				<true/>
			</dict>
			<key>name</key>
			<string>Runner.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>3d245201-1d71-41ec-adab-253034426ca0</string>
				<key>name</key>
				<string>iOS Team Provisioning Profile: com.dexbytes.myhelper-contractor-demo</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>V7KJ8WJJFJ</string>
				<key>name</key>
				<string>Dexbytes Infotech</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
